ext/*/
docs/build/doctrees/
.venv
*.pyc
*.o
*.dll
*.sdf
*.suo
*.cache
iceberg.exe
iceberg_tests.exe
common.local
history.txt
history.txt.bk
__*.js
bin/dict
bin/luamodule/ltn12.lua
bin/luamodule/mime.lua
bin/luamodule/socket.lua
bin/luamodule/socket/
bin/luamodule/mime/
bin/luamodule/LuaXML*
bin/luamodule/lfs.dll
bin/luamodule/cjson.dll
bin/luamodule/weather/*.gif
bin/luamodule/weather/*.xml

